
  <nav class="nav navbar-inverse ">
  <a class="nav-link active" href="#">Home</a>
  <a class="nav-link" (click) =" searchCity()" routerLink='/searchbar' routerLinkActive="active">Search</a>
  <a class = "nav-link" (click)= display routerLink='/favouritelist' routerLinkActive="active" > Favourites</a>
 <a class="nav-link"  routerLink='/register' routerLinkActive="active">Register</a>
 <a class="nav-link"  routerLink='/login' routerLinkActive="active">Log In</a>
</nav>

 
<router-outlet></router-outlet>
